
.list-product-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 20px;
}

.filter-section select {
  appearance: none;
  background-color: #f9f9f9;
  border: 1.5px solid #ced4da;
  border-radius: 8px;
  padding: 6px 30px 6px 12px;
  font-size: 1rem;
  color: #333;
  cursor: pointer;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23666' class='bi bi-caret-down-fill' viewBox='0 0 16 16'%3E%3Cpath d='M7.247 11.14 2.451 5.658a.5.5 0 0 1 .416-.808h10.266a.5.5 0 0 1 .416.808l-4.796 5.482a.5.5 0 0 1-.74 0z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px 16px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.filter-section select:hover {
  border-color: #c6c7c5;
  background-color: #e8f5e9;
}

.filter-section select:focus {
  border-color: #5c0a75;
  outline: none;
  box-shadow: 0 0 8px rgba(225, 230, 222, 0.8);
  background-color: #f8f8f8;
}

.product-item {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  width: 100%;
  font-size: 0.95rem;
  transition: box-shadow 0.2s ease;
}

.product-item:hover {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
}

.product-item__photo {
  width: 100px;
  height: 100px;
  object-fit: cover;
  flex-shrink: 0;
}

.product-item__info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-item__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}

.product-item__title {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  color: #111;
}

.product-item__type {
  font-size: 14px;
  color: #666;
}

.product-item__section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 15px;
}

.label {
  color: #444;
  font-weight: 500;
}

.list-product {
  text-align: right;
  color: #000;
  list-style: none;
  gap: 5px;
    display: flex;
    justify-content: center;
}

@media (max-width: 576px) {
  .product-item {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .product-item__info {
    align-items: center;
  }

  .product-item__section {
    flex-direction: column;
    align-items: center;
  }

  .list-product {
    
    text-align: center;

  }

  .product-item__header {
    flex-direction: column;
    align-items: center;
  }
}
