.product-landing {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(to right, #f9f9f9, #ffffff);
  border-radius: 1rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  padding: 40px;
}

.product-title {
  font-size: 2rem;
  font-weight: 700;
  color: #333;
}

.product-photo {
  max-height: 360px;
  object-fit: contain;
  border-radius: 16px;
  transition: transform 0.3s ease;
}

.list-price {
    display: flex;
     
    gap: 10px;
}

.product-photo:hover {
  transform: scale(1.05);
}

.product-price-box {
    display: flex;
    gap: 30px;
  background-color: #f1fdf3;
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid #c6eccd;
}

@media (max-width: 767px) {
  .product-landing {
    padding: 20px;
  }
}
